 <style>
    body {
      background-color: white;
margin:0px;
      font-family: Arial, sans-serif;
border-spacing: 0px;
    }
    h1 {
      color: #333;
      font-size: 2em;
      margin-bottom: 20px;
    }
  

.spalte1 {
  height: 91.4vh;
  width: 23.51%;
 max-width: 450px;
  position: fixed;
 left: 0%;
  top: 0%;
  border-bottom: 1px solid;
  border-color: #244897;
  border-spacing: 0px;
 overflow: hidden; /* Hinzugefügtes Attribut */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spalte1::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
  background-image: url("Bilder/hessenloewe_blau.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.spalte2 {
  height: 91.4vh;
  width: 8%;
  position: fixed;
 left: 23.51%;
  top: 0%;
  border-bottom: 1px solid;
  border-color: #244897;
  border-spacing: 0px;
 background-color: #244897;
}
.spalte3 {
  height: 91.4vh;
  width: 60.305%;
 overflow: auto;
  position: fixed;
 left: 31.51%;
  top: 0%;
 border-top: 1px solid;
 border-left: 1px solid;
  border-color: #244897;
  border-spacing: 0px;
 background-color: #EEEEEE;
}

.spalte4 {
  height: 91.4vh;
  width: 8%;
 position: fixed;
 left: 91.83%;
  top: 0%;
 border-bottom: 1px solid;
 border-left: 1px solid;
  border-color: #244897;
  border-spacing: 0px;
 background-color: #244897;
}

.question {
  margin-bottom: 20px;
}

.answer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.answer-tile {
  background-color: #f4f4f4;
  border: 1px solid;
   border-color: #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  cursor: default;
}

.answer-tile:hover {
  background-color: #e0e0e0;
}

.answer-tile input[type="radio"] {
  display: none; text-align: left;
}

.accordion {
    background-color: #e0e0e0;
    cursor: pointer;
    padding: 1%;
    width: 100%;
  font-size: 1em;
    text-align: left;
    border: 1px solid;
 border-color: #ccc;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #f4f4f4;
}

.panel {
    padding-left: 1.5%;
 padding-top: 1%;
 padding-bottom: 1%;
 border: 1px solid;
 border-color: #ccc;
 font-size: 2em;
 display: none;
    background-color: #EEEEEE;
    overflow: hidden;
}



  </style>
